<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello <%= locals.text || "testing" %></h1>  <!--Using locals won't give error for an undefined variable-->
</body>
</html>