<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Hello world 
    <%= locals.text || 'Default' %>   <!-- This is similar to Jinja in Flask. Now here if the text variable is not sent then it will give us an error. To avoid that error we use locals.variable. -->
  </h2>
</body>
</html>